
/*Custom css*/

/*main.py-4 {
    padding-top: 0px !important;
} */

main.dashboard{
	padding-top: 0px !important;
}

.Missing-person{
	    background-color: #e4e7e8 !important;
	      
}

.missing-person-container, .missing-vechicle-container{
	   padding-top: 25px !important;
}
<<<<<<< HEAD
.dashboard-panal{
	padding-left: 0px !important; 
}
=======

>>>>>>> 40fac6bc3b4c86aa9fdc2de5018d047d84cbd3e1
