
/*Custom css*/

/*main.py-4 {
    padding-top: 0px !important;
} */

main.dashboard{
	padding-top: 0px !important;
}

.Missing-person{
	    background-color: #e4e7e8 !important;
	        padding-top: 30px !important;
}